#MainPane{
    -fx-background-image: url('../img/medieval_background.jpg');
}

#MainPane2{
    -fx-background-color: rgba(0,0,0,0.3);
}

#anchorPane{
    -fx-background-color: rgba(132,141,86,0.5);
}


.button{
    -fx-background-color: rgba(0,0,0,0.3);
    -fx-background-radius: 20px;
    -fx-effect: dropshadow( gaussian , rgba(80,0,0,0.7) , 80,0,0,1 );
    -fx-effect: innershadow( gaussian , rgba(0,0,0,0.7) , 0,0,0,0 );
}

.button:hover{
    -fx-background-color: rgba(255,255,255,0.6);
}
